// Variables

// Default font size
// Because this is so important in many of your calculations as a context,
// keep your default font size stored as a variable.

$default-font-size: 16px;

// Breakpoints

// Set your desired breakpoints here. Ideally, breakpoints should be set to 
// where they make sense in the design, not targeted to specific devices.

// Example:
// $breakpoint-large: "min-width: 1350px";


// Contexts

// Not necessarily the same as breakpoints, but a point from which to judge
// relative values.

// Example:
// $context-small: 420px;



// Mixins

// responsive: to use, include the following code in your
// declarations:
//
// .class {
//     some-property: some-value;
// 
//     @include responsive($breakpoint) { some-property: some-new-value; }
// }
// 
// By default, the declared media value is "all", but this can
// be overridden by calling the mixin as:
// @include responsive($breakpoint, screen)
// (using "screen" as an example)

@mixin responsive($breakpoint, $media: all) {
	@media only #{$media} and ($breakpoint) {
		@content;
	}
}


// hidpi: same concept as "responsive", except that this is focusing on
// HiDPI (a.k.a. retina) displays.
@mixin hidpi($media: all) {
	@media 
		only #{$media} and (min--moz-device-pixel-ratio: 1.5),
		only #{$media} and (-o-min-device-pixel-ratio: 3/2),
		only #{$media} and (-webkit-min-device-pixel-ratio: 1.5),
		only #{$media} and (min-device-pixel-ratio: 1.5),
		only #{$media} and (min-resolution: 144dpi),
		only #{$media} and (min-resolution: 1.5dppx) {

		@content;
	}
}


// and just because the term "retina" is so widely used, we'll create
// a mixin that uses that as an alias
@mixin retina($media: all) {
	@include hidpi($media) { @content; }
}


// rem: Calculate the rem unit, and return both pixels and rems to support older (non-rem supporting) browsers
@mixin rem($property, $value, $context: $default-font-size) {
	#{$property}: $value;
	#{$property}: cr($value, $context);
}


// Functions

// calc-rem: calculate the rem value based on the desired pixel 
// value versus a context value, usually the default font size
$default-font-size: 16px !default;

@function calc-rem( $target, $context: $default-font-size ) {
	@return $target / $context * 1rem;
}

// Shorthand redeclaration of the above
@function cr( $target, $context: $default-font-size ) {
	@return calc-rem( $target, $context );
}


// calc-percent: calculate the percent using the target รท context
// formula, expressed as a percentage.  See Chapter 2 of "Responsive 
// Web Design" (Marcotte, A Book Apart, 2011)
@function calc-percent( $target, $context ) {
	@return $target / $context * 100%;
}

// Shorthand redeclaration of the above
@function cp( $target, $context ) {
	@return calc-percent( $target, $context );
}


// hidpi-sprite-adjustment
// when using Sass & Compass to generate sprites, there are issues with calculating the
// position of the HiDPI sprites. See http://blog.teamtreehouse.com/?p=20925 (I'll update
// this documentation when I get a chance to later.)  this function makes the necessary
// adjustment for you.
@function hidpi-sprite-adjustment($sprite-map, $sprite) {
	@return round(nth(sprite-position($sprite-map, $sprite), 2) / 2);
}

// retina-sprite-adjustment
// prefer the term "retina" over "hidpi". here you go, this aliases the previous function
@function retina-sprite-adjustment($sprite-map, $sprite) {
	@return hidpi-sprite-adjustment($sprite-map, $sprite);
}
